.path {
    position: absolute;
    left: 4rem;
    top: 6px;
    height: 40px;
}


.card {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;

    h3 {
        color: rgb(46, 44, 44);
    }

    .head {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-between;
    }
}