<div class="footer">
 <div class="top">
     <div class="logo">
        <img src="/assets/logo.png" alt="">
     </div>
     <div class="det">
        jghyguy
     </div>
 </div>
 <div class="bottom">
     <div class="sm">
        <i class="pi pi-facebook"></i>
        <i class="pi pi-whatsapp"></i>
        <i class="pi pi-youtube"></i>
        <i class="pi pi-phone"></i>
        <i class="pi pi-instagram"></i>
     </div>
     <div class="c">
        &copy; 2024 GiftWave. All Rights Reserved.
     </div>
     <div class="pay">
        <img src="\assets\card\master.png" alt="" height="40px">
        <img src="\assets\card\card.png" alt="" height="40px">
        <img src="\assets\card\paypal.png" alt="" height="40px">
        <img src="\assets\card\apple-pay.png" alt="" height="40px">
        <img src="\assets\card\american-express.png" alt="" height="40px">
     </div>
 </div>
</div>