<div class="footer">
    <div class="top">
        <div class="logo">
            <img src="/assets/logo.png" alt="">
        </div>
        <div class="det">
            <ul>
                <li><h2>Company</h2></li>
                <li><a href="#">Home</a></li>
                <li><a href="#">Contact</a></li>
                <li><a href="#">Gifts</a></li>
            </ul>
            <p-divider layout="vertical" />
            <ul>
                <li><h2>Legal</h2></li>
                <li><a href="">Privacy Policy</a></li>
                <li><a href="">Terms & Conditions</a></li>
            </ul>
            <p-divider layout="vertical" />
            <ul>
                <li><h2>Account</h2></li>
                <li><a href="">My Account</a></li>
                <li><a href="">My Gifts</a></li>
            </ul>
            <p-divider layout="vertical" />
            <ul>
                <li><h2>Contact</h2></li>
                <li><a href="">E-mail : info&#64;giftwave.com</a></li>
                <li><a href="">Telephone : 011-22 22 223</a></li>
                <li><a href="">Address : No 30, Galle Rd,Colombo 7</a></li>
            </ul>

        </div>
    </div>
    <div class="bottom">
        <div class="sm">
            <i class="pi pi-facebook" style="font-size: 1.5rem;color: white;"></i>&nbsp;
            <i class="pi pi-whatsapp" style="font-size: 1.5rem;color: white;"></i>&nbsp;
            <i class="pi pi-youtube" style="font-size: 1.5rem;color: white;"></i>&nbsp;
            <i class="pi pi-phone" style="font-size: 1.5rem;color: white;"></i>&nbsp;
            <i class="pi pi-instagram" style="font-size: 1.5rem;color: white;"></i>&nbsp;
        </div>
        <div class="c">
            &copy; 2024 GiftWave <br> All Rights Reserved.
        </div>
        <div class="pay">
            <img src="\assets\card\master.png" alt="" height="40px">
            <img src="\assets\card\card.png" alt="" height="40px">
            <img src="\assets\card\paypal.png" alt="" height="40px">
            <img src="\assets\card\apple-pay.png" alt="" height="40px">
            <img src="\assets\card\american-express.png" alt="" height="40px">
        </div>
    </div>
</div>