<div class="path">
    <p-breadcrumb class="max-w-full" [model]="items" [home]="home" />
</div>

<div class="top-bar">
    <div class="card">
        <div class="title">
            <span>
                <i class="pi pi-shopping-cart" style="color: rgb(236, 236, 236)"></i>
            </span>
            <p class="title-text">
                New Orders
            </p>
            <p class="percent">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" fill="currentColor" height="20"
                    width="20">
                    <path
                        d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">
                    </path>
                </svg> 43%
            </p>
        </div>
        <div class="data">
            <p>
                {{newGift}}
            </p>
            <span style="font-size: smaller;color: grey">(New paid gifts)</span>
        </div>
    </div>

    <div class="card">
        <div class="title">
            <span>
                <i class="pi pi-user" style="color: rgb(251, 251, 251)"></i>
            </span>
            <p class="title-text">
                Users
            </p>
            <p class="percent">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" fill="currentColor" height="20"
                    width="20">
                    <path
                        d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">
                    </path>
                </svg> 35%
            </p>
        </div>
        <div class="data">
            <p>
                {{userCounnt}}
            </p>
            <span style="font-size: smaller;color: grey">(Registered users)</span>
        </div>
    </div>
    <div class="card">
        <div class="title">
            <span>
                <i class="pi pi-dollar" style="color: rgb(255, 255, 255)"></i>
            </span>
            <p class="title-text">
                Total Income
            </p>
            <p class="percent">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" fill="currentColor" height="20"
                    width="20">
                    <path
                        d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">
                    </path>
                </svg> 40%
            </p>
        </div>
        <div class="data">
            <p>
                {{totalIncome}} LKR
            </p>
            <span style="font-size: smaller;color: grey">(Registered users)</span>
        </div>
    </div>
    <div class="card">
        <div class="title">
            <span>
                <i class="pi pi-check-circle" style="color: rgb(251, 251, 251)"></i>
            </span>
            <p class="title-text">
                Complete Orders
            </p>
            <p class="percent">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1792 1792" fill="currentColor" height="20"
                    width="20">
                    <path
                        d="M1408 1216q0 26-19 45t-45 19h-896q-26 0-45-19t-19-45 19-45l448-448q19-19 45-19t45 19l448 448q19 19 19 45z">
                    </path>
                </svg> 86%
            </p>
        </div>
        <div class="data">
            <p>
                {{deliveredGift}}
            </p>
            <span style="font-size: smaller;color: grey">(Completely delivered orders)</span>
            <!-- <div class="range">
                <div class="fill">
                </div>
            </div> -->
        </div>
    </div>
</div>

<div class="doller-rate">
    <div *ngIf="usdToLkrRate !== null; else errorBlock" class="rate">
        <p>{{date}}</p> 
        <p><i class="pi pi-dollar"></i>Dollar rate</p>
        <p>{{ usdToLkrRate | number: '1.3-3' }} LKR</p>
    </div>
    <ng-template #errorBlock>
        <p>{{ errorMessage }}</p>
    </ng-template>
    

</div>

<div class="chart">
    <div class="cardChart">
        <p-chart type="bar" [data]="basicData" [options]="basicOptions" style="min-width: 800px; " />
    </div>
    <!-- <div class="card flex justify-content-center">
        <p-chart type="doughnut" [data]="data" [options]="options" />
    </div> -->
</div>