<div class="tool">
    <div class="card flex justify-content-center">
        <p-dropdown [options]="categories" [(ngModel)]="selectedCategories" optionLabel="name" [filter]="true"
            filterBy="name" [showClear]="true" placeholder="Choose Category">
            <ng-template pTemplate="selectedItem" let-selectedOption>
                <div class="flex align-items-center gap-2">
                    <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + selectedCategories.code.toLowerCase()" style="width: 18px" /> -->
                    <div>{{ selectedOption.name }}</div>
                </div>
            </ng-template>
            <ng-template let-country pTemplate="item">
                <div class="flex align-items-center gap-2">
                    <!-- <img src="https://primefaces.org/cdn/primeng/images/demo/flag/flag_placeholder.png"
                        [class]="'flag flag-' + country.code.toLowerCase()" style="width: 18px" /> -->
                    <div>{{ country.name }}</div>
                </div>
            </ng-template>
        </p-dropdown>
    </div>

    <div style="display: flex;align-items: center;">
        <p-button (onClick)="showDialog()" label="Box" icon="pi pi-gift" class="box" badge="2" outlined="true"
            badgeClass="p-badge-contrast" />
        <p-dialog header="Header" [modal]="true" [(visible)]="visible" [style]="{ width: '50rem' }"
            [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
            <p class="mb-5">
                Lorem ipsum dolor sit amet...
            </p>
            <p class="mb-5">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
            <p class="mb-5">
                At vero eos et accusamus et iusto odio dignissimos...
            </p>
            <p class="mb-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit...
            </p>
            <p class="mb-5">
                "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium...
            </p>
            <p>
                At vero eos et accusamus et iusto odio dignissimos...
            </p>

            <p-button label="Buy & Send" icon="pi pi-send" outlined="true" class="buy-button" />
        </p-dialog>

    </div>
</div>






<div class="store">


    <div class="product-card" *ngFor="let item of fetchingItems">

        <div class="product-image">
            <img [src]="item.image || '/assets/box.png'" alt="Product Image" />
        </div>
        <div class="product-info">
            <h2 class="product-name">{{ item.name }}</h2>
            <!-- <p class="product-description">
                {{ item.description }}
            </p> -->

            <p class="product-description">
                <span *ngIf="!item.showFullDescription">
                    {{ item.description | slice:0:100 }}... <!-- Display the first 100 characters -->
                    <a href="javascript:void(0);" (click)="toggleDescription(item)">Show more</a>
                </span>
                <span *ngIf="item.showFullDescription">
                    {{ item.description }}
                    <a href="javascript:void(0);" (click)="toggleDescription(item)">Show less</a>
                </span>


            <div class="product-price">{{ item.unitPrice }} LKR</div>
        </div>
        <button class="add-to-cart-button">Add To Gift Box</button>
    </div>

</div>