$product-shadow-color: rgba(0, 0, 0, 0.1);

/* From Uiverse.io by abrahamcalsin */ 
.plan-card {
    background: #fff;
    width: 15rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    border-bottom: 4px solid #000446;
    box-shadow: 0 6px 30px rgba(207, 212, 222, 0.3);
    font-family: "Poppins", sans-serif;
  }
  
  .plan-card h2 {
    margin-bottom: 15px;
    font-size: 27px;
    font-weight: 600;
  }
  
  .plan-card h2 span {
    display: block;
    margin-top: 0;
    color: #4d4d4d;
    font-size: 12px;
    font-weight: 400;
  }
  
  .etiquet-price {
    position: relative;
    background: #fdbd4a;
    width: 14.46rem;
    margin-left: -0.65rem;
    padding: .2rem 1.2rem;
    border-radius: 5px 0 0 5px;
  }
  
  .etiquet-price p {
    margin: 0;
    padding-top: .4rem;
    display: flex;
    font-size: 1.9rem;
    font-weight: 500;
  }
  
  .etiquet-price p:before {
    content: "Rs";
    margin-right: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .etiquet-price p:after {
    content: "/ LKR";
    margin-left: 5px;
    font-size: 15px;
    font-weight: 300;
  }
  
  .etiquet-price div {
    position: absolute;
    bottom: -23px;
    right: 0px;
    width: 0;
    height: 0;
    border-top: 13px solid #c58102;
    border-bottom: 10px solid transparent;
    border-right: 13px solid transparent;
    z-index: -6;
  }
  
  .benefits-list {
    margin-top: 16px;
  }
  
  .benefits-list ul {
    padding: 0;
    font-size: 14px;
  }
  
  .benefits-list ul li {
    color: #4d4d4d;
    list-style: none;
    margin-bottom: .2rem;
    display: flex;
    align-items: center;
    gap: .5rem;
  }
  
  .benefits-list ul li svg {
    width: .9rem;
    fill: currentColor;
  }
  
  .benefits-list ul li span {
    font-weight: 300;
  }
  
  .button-get-plan {
    display: flex;
    justify-content: center;
    margin-top: 1.2rem;
  }
  .btnBg1 a{
    background-color: #34ca52;
  }
  .btnBg2 a{
    background-color: #0b74dc;
  }
  .button-get-plan a {
    display: flex;
    justify-content: center;
    align-items: center;
   // background: #34ca52;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    font-size: .8rem;
    letter-spacing: .05rem;
    font-weight: 500;
    transition: all 0.3s ease;
  }
  
  .button-get-plan a:hover {
    transform: translateY(-3%);
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
  }
  
  .button-get-plan .svg-rocket {
    margin-right: 10px;
    width: .9rem;
    fill: currentColor;
  }
/* Image preview modal */
.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    overflow: auto;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {
        transform: scale(0)
    }

    to {
        transform: scale(1)
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 35px;
    color: #820a0a;
    font-size: 40px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: #974444;
}

.clickable-image {
    cursor: pointer;
}

.main {
    display: flex;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 10px 10px 10px;
    justify-content: center;
    height: auto;
    min-height: 70vh;
    box-shadow: 0 3px 10px rgba(207, 212, 222, 0.9);
    // background-color: #033f8d;
    .count {
        position: absolute;
        left: 200px;
        top: 0;
        color: #5d7e75;
    }

    .detail {
        width: 50%;
        padding: 10px 20px 2px 10px;
        overflow-y: scroll;
        max-height: 70vh;
        //   background-color: #ba4e4e;
    }

    .check-out {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30%;
        //    background-color: #5a5757;
    }
}

.giftBox-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    min-width: 550px;
    box-shadow: 0 4px 8px $product-shadow-color;
    border-radius: 8px;
    padding: 10px;

    .gift-info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        // background-color:gold;
        min-width: 400px;

        .gift-price {
            color: #033f8d;
            font-weight: bold;
        }
    }
}

@media screen and (max-width:900px) {
    .main {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #033f8d;

    }
}

//sender details card

.customerDetail{
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  .content{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px $product-shadow-color;
    border-radius: 8px;
    margin: 5px;

    .inptField{
      margin: 8px;
    }
    .custom-calendar {
      width: 200px;
      height: 50px;
    }
    
  }
}