<div class="image-container">
    <img src="/assets/home2.png" alt="Image 1">
    <img src="/assets/home1.png" alt="Image 2">
</div>


<div>
    <app-carousel></app-carousel>
</div>

<div class="home-img">
    <img src="/assets/hm.png" alt="">
</div>

<div class="background-section">
    <div class="text-center">
        <div class="powered-by-discord">
            <i class="pi pi-crown"></i>&nbsp;POWERED BY GiftWave
        </div>
        <div class="design-community-heading">
            Send Wave of Happiness
        </div>
        <div class="subheading-text">
            Welcome to GiftWave, the premier online platform for sending heartfelt gifts to your loved ones. With a few
            clicks, you can browse our wide selection of curated items, create personalized gift bundles, and send them
            directly to the people who matter most. Whether it's a special occasion or just because, GiftWave makes it
            easy to express your feelings and make someone's day brighter. Start gifting with us today and let your love
            and appreciation ride the wave to those who deserve it.
        </div>
        <button pButton pRipple class="join-now-button">
            Sign Now
        </button>
    </div>
</div>