$primary-color: #ffffff;
$secondary-color: #00445b;
$hover-color: #105583;

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $primary-color;
    color: $secondary-color;

    .navbar-brand {
        display: flex;
        align-items: center;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: $secondary-color;
            text-decoration: none;
        }

        .navbar-toggler {
            display: none;
            font-size: 1.5rem;
            background: none;
            border: none;
            color: $secondary-color;
            cursor: pointer;
        }
    }

    .navbar-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-bottom: 10px;

        .navbar-item {
            margin-left: 20px;

            .navbar-link {
                text-decoration: none;
                color: $secondary-color;
                padding: 10px 15px;
                transition: background-color 0.3s ease;

                &:hover {
                    border-bottom:2px solid $hover-color;
                    color: $secondary-color;
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;

        .navbar-brand {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .navbar-toggler {
                display: block;
            }
        }

        .navbar-menu {
            flex-direction: column;
            width: 100%;
            display: none;
             background-color: white;
             border-radius: 8px;
             box-shadow: 1px 1px 5px 1px darkgrey;
            &.active {
                display: flex;
            }

            .navbar-item {
                margin-left: 0;
                margin-top: 8px;
                width: 100%;

                .navbar-link {
                    width: 100%;
                    text-align: left;
                    padding: 7px;
                    // border-bottom: 1px solid $hover-color;
                }
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        padding: 10px;

        .navbar-brand .logo {
            font-size: 1.2rem;
        }

        .navbar-menu .navbar-item .navbar-link {
            padding: 8px;
        }
    }
}