<nav class="navbar">
    <div class="navbar-brand">
        <a href="#" class="logo"><img src="/assets/blogo.png" alt="" width="68px">GiftWave.com</a>
        <button class="navbar-toggler" (click)="toggleMenu()">&#9776;</button>
    </div>
    <ul class="navbar-menu" [ngClass]="{'active': menuActive}">
        <li class="navbar-item"><a href="#" class="navbar-link">Home</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">About</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Services</a></li>
        <li class="navbar-item"><a href="#" class="navbar-link">Contact</a></li>
    </ul>
</nav>