$primary-color: #ffffff;
$secondary-color: #00445b;
$hover-color: #105583;
.bgColor{
    background-color: #2795ac;
}
.active{
  border-bottom: 2px solid #105583;;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: $primary-color;
    color: $secondary-color;

    .navbar-brand {
        display: flex;
        align-items: center;

        .logo {
            font-size: 1.5rem;
            font-weight: bold;
            color: $secondary-color;
            text-decoration: none;
            display: flex;
            align-items: center;
            font-family: Verdana, Geneva, Tahoma, sans-serif;

            img {
                margin-right: 10px;
            }
        }
    }

    .navbar-menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;

        .navbar-item {
            margin-left: 20px;

            .navbar-link {
                text-decoration: none;
                color: $secondary-color;
                padding: 10px 15px;
                transition: background-color 0.3s ease;

                &:hover {
                     border-bottom: 2px solid $hover-color;
                    color: $secondary-color;
                }
            }
        }

        @media screen and (max-width: 768px) {
            display: none;

            &.active {
                display: flex;
                flex-direction: column;
                position: absolute;
                top: 60px;
                right: 20px;
                background-color: $primary-color;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
                z-index: 1000;
                width: 200px;

                .navbar-item {
                    margin: 8px;
                    padding: 3px;

                    .navbar-link {
                        padding: 10px;
                       // border-bottom: 1px solid $hover-color;
                    }
                }
            }
        }
    }

    .navbar-actions {
        display: flex;
        align-items: center;

        .navbar-toggler {
            display: none;
            font-size: 1.5rem;
            background: none;
            border: none;
            color: $secondary-color;
            cursor: pointer;
            margin-left: 20px;
        }

        @media screen and (max-width: 768px) {
            .navbar-toggler {
                display: block;
            }

            // p-button {
            //     display: none;
            // }
        }
    }
}

@media screen and (max-width: 480px) {
    .navbar {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .navbar-brand .logo {
        font-size: 1.2rem;
    }

    .navbar-menu .navbar-item .navbar-link {
        padding: 8px;
    }

    .navbar-actions .navbar-toggler {
        font-size: 1.2rem;
    }
}
